* {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

@-ms-viewport {
  width: device-width;
}
::-moz-selection {
  background: #8da083;
  color: white;
}
::selection {
  background: #8da083;
  color: white;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Gentium Book Basic", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #968687;
  background: white;
  width: 100%;
}

.body-photo {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.85), white), url(../img/body-img.jpg) center 35%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85), white), url(../img/body-img.jpg) center 35%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin: -300px auto;
  z-index: 10;
  position: relative;
  z-index: -2000;
}
.body-photo p {
  position: relative;
  top: 330px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  color: linear-gradient(to left, #839CA0, #8da083);
  font-weight: 700;
  opacity: 0.5;
}

main {
  max-width: 1000px;
  min-height: 400px;
  margin: 0 auto 10px;
  padding: 70px 4% 50px;
  background: white;
}
main section {
  margin: 20px 0 120px;
}
main section:last-child {
  margin-bottom: 0;
}
main section a {
  color: #8da083;
  text-decoration: underline;
}
main section a:hover {
  color: #5b6b52;
}
main .intro-copy {
  margin-bottom: 40px;
  font-size: 1.999em;
  color: #968687;
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  display: none;
}
@media (max-width: 700px) {
  h1 {
    display: block;
    margin: -20px 0 80px;
    font-size: 3em;
    font-family: "Gentium Book Basic", serif;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #8da083;
    text-align: center;
  }
}

h2 {
  font-size: 1.999em;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid #839CA0;
  color: #839CA0;
}
@media (max-width: 700px) {
  h2 {
    font-size: 1.414em;
  }
}
h2 span {
  background: white;
  padding: 0 20px;
  position: relative;
  top: -22px;
}
@media (max-width: 700px) {
  h2 span {
    top: -15px;
  }
}

p,
ul.contact {
  margin-bottom: 40px;
  font-size: 1.414em;
}
@media (max-width: 700px) {
  p,
  ul.contact {
    font-size: 1em;
  }
}
p li,
ul.contact li {
  list-style: circle;
}

ul.contact {
  margin: -20px 0 0 60px;
}

.to-do {
  font-family: "Gentium Book Basic", serif;
  text-decoration: underline;
  font-weight: 700;
  color: #8da083;
  display: block;
}

.site-nav {
  background: -webkit-linear-gradient(right, #839CA0, #8da083);
  background: linear-gradient(to left, #839CA0, #8da083);
  color: white;
  padding: 10px 0;
}
.site-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.site-nav ul li {
  margin: 0;
}
.site-nav ul li a {
  padding: 0;
  margin: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}
@media (max-width: 800px) {
  .site-nav ul li a {
    margin: 20px 10px;
  }
}
.site-nav ul li a.active {
  border-bottom: 2px solid white;
}
.site-nav ul li a:hover, .site-nav ul li a:focus {
  color: white;
}
.site-nav ul .mobile-button a {
  position: absolute;
  left: -99999em;
}
@media (max-width: 700px) {
  .site-nav ul {
    display: block;
    text-align: center;
  }
  .site-nav ul a {
    position: absolute;
    left: -99999em;
  }
  .site-nav ul.open li a {
    position: static;
    text-align: center;
    display: inline-block;
  }
  .site-nav ul .mobile-button a {
    position: static;
    display: block;
    text-align: center;
  }
}

.button-group {
  margin: 0 auto;
  text-align: center;
}

button,
a.button {
  background: #8da083;
  padding: 10px 40px 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  margin: 10px;
  display: block;
}
button:hover,
a.button:hover {
  background: #839CA0;
  color: white;
}
@media (max-width: 700px) {
  button,
  a.button {
    width: 100%;
    padding: 10px 0 12px;
    margin: 10px  0;
  }
}

a.button {
  display: inline-block;
  text-decoration: none;
}

.map {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  height: 500px;
  background: #8da083;
}
@media (max-width: 700px) {
  .map {
    height: 300px;
  }
}
.map iframe,
.map object,
.map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */