$sr-font-serif: 'Gentium Book Basic', serif;
$sr-font-sans: 'Open Sans', sans-serif;

$huge-font: 3.998em;
$large-font: 1.999em;
$medium-font: 1.414em;
$small-font: 1em;
$tiny-font: 0.707em;

$site-bg: white;

$purple: #8783A0;
$h2-color: #839CA0;

$warm-gray: #968687;
$gradient-a: linear-gradient(to top right, #F9DDA8, #F5D39D);
$jean-blue: #8397B5;
$army-green: #8da083;
$army-green-grad: linear-gradient(to left, #839CA0, #8da083);
